* {
  padding: 0;
  margin: 0;
}

header {
  height: 350px;
  width: 100%;
  background-color: wheat;
}

.main-visual img {
  height: 300px;
  width: 100%;
  object-fit: cover;

}

h1 {
  font-size: 170px;
  color: white;
  position: absolute;
  top: 140px;
}


ul {
  list-style: none;
  display: flex;
  position: absolute;
  left: 45%;
}

.list-item {
  margin-left: 15px;
}



main {
  height: 2000px;
  width: 80%;
  margin: 0 auto;
  background-color: blue;
}

footer {
  height: 300px;
  width: 100%;
}